.dashboard-content {

  .mat-card {
    width: 100%;
    box-shadow: none !important;
    &:hover {
      box-shadow: 2px 8px 26px 2px rgba(0,0,0,0.11)  !important;
      cursor: pointer;
    }
  }

}
