<div class="footer-container">
  <div class="col-1-of-4">
    <div class="section rights">
      <img src="assets/images/home/logo.svg" alt="logo main">
      <div class="data">
        <h1 class="text">
          All rights reserved©2020
        </h1>
        <h1 class="header">
          Contact:
        </h1>
        <h1 class="text">
          (031) 221 0210
        </h1>
      </div>
    </div>
    <div class="section">
      <div class="data">
        <h1 class="header">
          Quick links
        </h1>
        <div class="text">
          <a routerLink="">Home</a>
        </div>
      </div>


    </div>
    <div class="section">
    </div>
    <div class="section">
      <div class="cta">
        <button mat-button>Take a test
          <span class="material-icons chevron">
            keyboard_arrow_right
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
