<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> Fullname </th>
      <td mat-cell *matCellDef="let element"> {{element?.FirstName}} {{element?.Surname}} </td>
    </ng-container>

    <ng-container matColumnDef="contactnumber">
      <th mat-header-cell *matHeaderCellDef> Contact Number </th>
      <td mat-cell *matCellDef="let element"> {{element?.ContactNumber}} </td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email address </th>
      <td mat-cell *matCellDef="let element"> {{element?.Email}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element?.Age}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> address </th>
      <td mat-cell *matCellDef="let element"> {{element?.Address}} </td>
    </ng-container>

    <ng-container matColumnDef="enrollmentDate">
      <th mat-header-cell *matHeaderCellDef> Enrollment date </th>
      <td mat-cell *matCellDef="let element"> {{element?.CreateDate}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element?.StatusId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
