@import '../../../../../assets/general/colors';

.mat-card-title {
  margin-top: 1rem;
  font-weight: 900;
  color: $purple;
}

.view-chat {
  position: fixed;
  left: 292px;
  top: 79px;
  width: 63%;
  z-index: 1000;
}

.col-1-of-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;

  }

  .mat-card {
    width: 100%;
  }
}
