<div class="stats col-1-of-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title><img src="assets/images/dashboard/teamwork.svg" alt="list of patients"></mat-card-title>
      <mat-card-subtitle>Total patients</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title>56</mat-card-title>
      <mat-card-subtitle><a routerLink="/dashboard"> + Add Patient </a></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><img src="assets/images/dashboard/users.svg" alt="list of patients"></mat-card-title>
      <mat-card-subtitle>All users</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title>72</mat-card-title>
      <mat-card-subtitle><a routerLink="/dashboard"> + Add User </a></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
