<div class="taking-selftest">
  <div class="testing-box">
    <div class="progress-bar">
      <div class="progress"></div>
    </div>

    <div class="nav-form">
      <div class="nav">
        <div class="nav-item">
          <span class="number active">
            1
          </span>
          <span class="label">
            Before We Begin.
          </span>
        </div>
        <div class="nav-item">
          <span class="number">
            1
          </span>
          <span class="label">
            Before We Begin.
          </span>
        </div>
        <div class="nav-item">
          <span class="number">
            1
          </span>
          <span class="label">
            Before We Begin.
          </span>
        </div>
      </div>

      <div class="form" *ngIf="step != 1">
        <h1 class="heading">
          Take a new test
        </h1>
        <div class="question">
          <h3>
            Please choose who you are taking this test for.
          </h3>
        </div>

        <div class="options" >
          <div class="cols-2">
            <div class="col">
              <div class="image">
                <img src="assets/images/user-1.svg" alt="">
              </div>
              <div class="actions">
                <button class="cta primary">For myself</button>
              </div>
            </div>

            <div class="col">
              <div class="image">
                <img src="assets/images/users.svg" alt="">
              </div>
              <div class="actions">
                <button class="cta secondary">For another person</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-personal-details *ngIf="step == 1"></app-personal-details>

    </div>
  </div>
</div>
