<app-bread-crump [baseName]="name" [baseSubtext]="subText"></app-bread-crump>
<div class="taking-selftest">
  <div class="testing-box">
    <div class="progress-bar">
      <div class="progress" [ngStyle]="{width:progress }"></div>
    </div>

    <div class="nav-form">
      <div class="nav" *ngIf="questions$ | async as questions">
        <div class="nav-item">
          <span class="number"  [ngClass]="active">
            1
          </span>
          <span class="label"  [ngClass]="active">
            Before We Begin.
          </span>
        </div>
        <div class="nav-item" *ngFor="let question of questions; let i = index">
          <span class="number" [ngClass]="question.Class">
            {{i + 2}}
          </span>
          <span class="label"  [ngClass]="question.Class">
            {{question.Question}}
          </span>
        </div>

      </div>

      <div class="form" *ngIf="step != 1">
        <h1 class="heading">
          {{heading}} 
        </h1>
        <div class="question">
          <h3>
            {{question}} <span class="risk-level" [ngClass]="riskclass">{{riskLevel}}</span>
          </h3>
        </div>

        <div class="options" *ngIf="!isResults">
          <div class="cols-1">
            <div class="image">
              <img *ngIf="!isSecondary" src="assets/images/coughing.svg" alt="">
            </div>

            <div class="actions" *ngIf="!isSecondary">
              <button class="cta primary danger yesno" (click)="answer('yes')">Yes</button>
              <button class="cta primary yesno"  (click)="answer('no')">No</button>
            </div>
            <div class="secondary-question" *ngIf="isSecondary">
              <mat-radio-group *ngIf="currentQuestion" class="form-group" [(ngModel)]="secondaryAnswer" aria-label="Select an option">
                <mat-radio-button class="input-radio" *ngIf="currentQuestion.Option1" [value]="currentQuestion.Option1">{{currentQuestion.Option1}}</mat-radio-button>
                <mat-radio-button class="input-radio" *ngIf="currentQuestion.Option2" [value]="currentQuestion.Option2">{{currentQuestion.Option2}}</mat-radio-button>
                <mat-radio-button class="input-radio" *ngIf="currentQuestion.Option3" [value]="currentQuestion.Option3">{{currentQuestion.Option3}}</mat-radio-button>
              </mat-radio-group>
              <!-- <input type="text" [(ngModel)]="secondaryAnswer">  -->
              <button (click)="onSecondaryAnswer('yes')"
                class="cta primary danger">Continue</button>
            </div>
          </div>
        </div>
<!-- {{secondaryAnswer}}
{{currentQuestion |json}} -->

        <div class="options" *ngIf="isResults">
          <div class="cols-1">
            <div class="image">
              <img src="assets/images/results.svg" alt="">
              <p>
          
                {{testDetails}}
              </p>
            </div>

            <div class="actions" *ngIf="!isSecondary && !seekMedicalHelp">
              <button class="cta primary" (click)="taketestagain()">Take test again.</button>
            </div>
            <div class="actions" *ngIf="!isSecondary && seekMedicalHelp">
              <button class="cta primary" (click)="taketestagain()">Take test again</button>
              <button class="cta primary danger" (click)="seekHelp()">Seek medical help</button>
            </div>
            <div class="secondary-question" *ngIf="isSecondary">
          
              <!-- <input type="text" [(ngModel)]="secondaryAnswer">
              <button (click)="onSecondaryAnswer()" class="cta primary danger">Continue</button> -->
            </div>
          </div>
        </div>


      </div>
      <app-personal-details *ngIf="step == 1"></app-personal-details>

    </div>
  </div>
</div>
