<div class="taking-selftest">
  <div class="testing-box">
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
 
    <div class="nav-form">
      <div class="nav">
        <div class="nav-item">
          <span class="number active">
            1
          </span>
          <span class="label">
            Before We Begin.
          </span>
        </div>
        <div class="nav-item">
          <span class="number">
            1
          </span>
          <span class="label">
            Before We Begin.
          </span>
        </div>
        <div class="nav-item">
          <span class="number">
            1
          </span>
          <span class="label">
            Before We Begin.
          </span>
        </div>
      </div>

      <div class="form">
        <h1 class="heading">
          Take a new test
        </h1>
        <div class="question">
         <h3>
          Please choose who you are taking this test for.
         </h3>
        </div>
      </div>
    </div>
  </div>
</div>
