@import '../../../assets/general/colors';

.dashboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dashboard-content {
  background: $cloud-white;
  padding: 2rem 15rem;

  @media only screen and (max-width: 1500px) {
    padding: 2rem 6rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 4rem 1rem;
  }

}

.home-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 120vh;
  img {
    height: 1.45rem;
  }
}

.home-is-mobile .home-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mobile {
  display: none;
}

.mat-drawer.mat-sidenav {
  background: $white;
  width: 15em;

  a {
    font-weight: 300;
    font-size: 18px;
    color: $purple;
  }
}

.mat-icon-button .mat-icon {
  color: $white;
}

.header-icon {
  height: 2.5em;
  float: right;
  margin-left: 12em;
}
.home-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
@media only screen and (max-width: 600px) {
  .home-sidenav-container {
    background-size: 110%;
    background-position-x: -1em;
  }

  .mobile {
    display: block;
    background: $gradient-primary !important;
   }
}
