<div class="banner">
  <div class="heading">
    <div class="col-1-of-1">
      <h1 class="welcome">
        We aim to
      </h1>
      <h1 class="main-header">
        Learn how fast the coronavirus
        is spreading <span class="hot">
          (hot spots)
        </span>
      </h1>
      <h1 class="secondary-header">
        On demand web application to monitor your daily symptoms and direct data to your nearest doctor/medical
        officers.
      </h1>
    </div>
  </div>
  <div class="benefits">
    <div class="col-1-of-2">
      <div class="point">
        <img src="assets/images/home/tick.svg" alt="*">
        <h1 class="text">
          Symptom based analysis
        </h1>
      </div>
      <div class="point">
        <img src="assets/images/home/tick.svg" alt="*">
        <h1 class="text">
          Daily upload of the symptoms
        </h1>
      </div>
      <div class="point">
        <img src="assets/images/home/tick.svg" alt="*">
        <h1 class="text">
          Symptoms graded by severity
        </h1>
      </div>
      <div class="point">
        <img src="assets/images/home/tick.svg" alt="*">
        <h1 class="text">
          Location based analysis
        </h1>
      </div>
    </div>
  </div>
  <div class="cta">
    <button mat-button>Take a test
      <span class="material-icons chevron">
        keyboard_arrow_right
      </span>
    </button>
  </div>

</div>
