<mat-toolbar color="" class="home-nav">
  <mat-toolbar-row>
    <div class="logo">
      <img src="assets/images/home/logo.svg" alt="logo main">
    </div>
    <a routerLink="">home</a>
    <span class="example-spacer"></span>
    <button mat-button>Take a test
      <span class="material-icons chevron">
        keyboard_arrow_right
      </span>
      <span class="material-icons test">
        assignment
       </span>
    </button>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>
