<div class="solution">
  <h1 class="association">In association with:</h1>
  <div class="associates">
    <div class="col-1-of-4">
      <div class="ci-image">
        <img src="assets/images/home/emblem-1.svg" alt="image associates">
      </div>
      <div class="ci-image">
        <img src="assets/images/home/emblem-2.svg" alt="image associates">
      </div>
    </div>
  </div>
</div>
<div class="screen-shots">
  <div class="shot col-1-of-2">
    <div class="description">
      <h1 class="main">
        For free and for every South African resident with an account
      </h1>
      <h1 class="regular">
        Inclusive solutions for diverse communities with continued tracking for user's data and their family members and friends alike.
      </h1>
    </div>
    <div class="screen">
      <img src="assets/images/home/sign-up.svg" alt="screen mockup">
    </div>
  </div>
  <div class="shot col-1-of-2">
    <div class="screen">
      <img src="assets/images/home/self-test-cough-2.svg" alt="screen mockup">
    </div>
    <div class="description">
      <h1 class="main">
        An alternative & cheaper solution
      </h1>
      <h1 class="regular">
        Run a COVID-19 self assessment test in less than 5min & get assistance ASAP based on the severity of your results.      </h1>
    </div>
  </div>
</div>
