@import '../../../../../assets/general/colors';

.dashboard-bread-crump {
  padding: .8rem;

  @media only screen and (max-width: 600px) {
    padding: .2rem;

  }

  .bread-crump {
    display: grid;
    grid-template-columns: 93% auto;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 80% auto;
      margin-top: .5rem;

    }

    ul {
      padding: 0;

      @media only screen and (max-width: 600px) {
        margin: 0 1rem;
      }

      li {
        display: inline-block;
        margin-left: 0rem;
        opacity: .5;

        .heading {
          font-size: 1rem;
        }
      }
    }

    .help {
      position: relative;
      top: 10px;
      cursor: pointer;

      span {
        font-weight: 900;
        position: relative;
        top: -8px;
        left: 4px;
        color: $danger;
      }

      img {
        width: 1.5rem;
      }
    }

  }
}
