<mat-toolbar color="" class="dashboard-nav">
  <mat-toolbar-row>
    <a class="logo" routerLink="/dashboard">
      <img src="assets/images/home/logo.svg" alt="logo main">
    </a>
    <a routerLink="/dashboard">home</a>
    <a routerLink="/dashboard/test">corona test</a>
    <a routerLink="/dashboard/patients">patients</a>
    <span class="example-spacer"></span>
    <a class="sign-out" (click)="signOut()">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">power_settings_new</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>


