<mat-toolbar color="" class="dashboard-nav">
  <mat-toolbar-row>
    <a class="logo" routerLink="/dashboard">
      <img src="assets/images/home/logo.svg" alt="logo main">
    </a>
    <a routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">home</a>
    <a routerLink="/dashboard/test" routerLinkActive="active-link" >corona test</a>
    <a routerLink="/dashboard/patients" routerLinkActive="active-link" >patients</a>
    <a routerLink="/dashboard/configurations" routerLinkActive="active-link" >configuration</a>
    <span class="example-spacer"></span>
    <a class="sign-out" (click)="signOut()">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">power_settings_new</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="mobile menu-items">
  <ul>
    <li><a routerLink="/dashboard" (click)="toggleNave()">
      home</a></li>
    <li><a routerLink="/dashboard/test" (click)="toggleNave()">
      corona test</a></li>
    <li><a routerLink="/dashboard/patients" (click)="toggleNave()">
      patients</a></li>

  </ul>
</mat-toolbar>
