<div class="account col-1-of-2">
    <div class="form-container">
      <form [formGroup]="rForm">
        <h1 class="form-heading">Get started</h1>
        <mat-form-field class="form-group" appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Email" formControlName="Email" MatFormFieldControl type="email" required>
          <mat-icon matSuffix >mail_outline</mat-icon>
          <mat-error *ngIf="!rForm.controls['Email'].valid && rForm.controls['Email'].touched">a valid email address is
            required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-group" appearance="outline">
          <mat-label>4 digit pin</mat-label>
          <input matInput placeholder="Pin"  formControlName="Password" MatFormFieldControl maxlength="4"
            [type]="hidePassword ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched">your password is
            required</mat-error>
        </mat-form-field>

        <div class="cta col-1-of-2">
          <button mat-button (click)="onSubmit(rForm.value)" [disabled]="!rForm.valid">login
          </button>
          <a routerLink="/sign-up" class="cta">Create a new account</a>
        </div>
        <div class="error" *ngIf="error">
          <h1>{{error}}</h1>
        </div>
      </form>
    </div>
    <img src="assets/images/home/sign-in-bg.svg" class="banner" alt="account background loading..">
</div>
